Repository knative/func, pull requests merged in 2020-11, with the labels that each got.

#198 feat: change default runtime to Node.js HTTP
  client.go
  client_test.go
  cmd/init.go
  testdata/templates/boson-experimental/node/json/index.js
  testdata/templates/boson-experimental/node/json/json.js
Labels: source/commands, source/configuration, type/enhancement

#202 templates: Node.js event template to return event
  pkged.go
  templates/node/events/README.md
  templates/node/events/index.js
  templates/node/events/package-lock.json
  templates/node/events/package.json
  templates/node/events/test/integration.js
  templates/node/events/test/unit.js
Labels: templates/node

#209 feat!: remove create cli subcommand
  client.go
  client_test.go
  cmd/create.go
  cmd/init.go
  docs/commands.md
  templates_test.go
Labels: source/commands, type/enhancement

#210 feat!: rename faas to function
  .dockerignore
  .github/workflows/ci.yaml
  .gitignore
  Dockerfile
  Makefile
  README.md
  client_test.go
  cmd/build.go
  cmd/completion.go
  cmd/create.go
  cmd/delete.go
  cmd/deploy.go
  cmd/describe.go
  cmd/function/main.go
  cmd/list.go
  cmd/root.go
  cmd/run.go
  config.go
  docs/README.md
  docs/commands.md
  docs/developers_guide.md
  docs/getting_started_kubernetes.md
  docs/installing_cli.md
  docs/integrators_guide.md
  docs/knative/config-domain.yaml
  docs/knative/config-network.yaml
  pkged.go
  plugin/plugin.go
  templates.go
  templates/go/events/README.md
  templates/go/http/README.md
  templates/node/events/package-lock.json
  templates/node/http/package-lock.json
  templates/quarkus/events/README.md
  templates/quarkus/http/README.md
Labels: source/commands, source/configuration, source/lib, type/enhancement

#211 fix: return JSON in Node.js event template
  pkged.go
  templates/node/events/index.js
Labels: templates/node

#212 src: updated Quarkus template
  pkged.go
  templates/quarkus/events/README.md
  templates/quarkus/events/src/main/java/functions/Function.java
  templates/quarkus/events/src/main/java/functions/Input.java
  templates/quarkus/events/src/main/java/functions/Output.java
  templates/quarkus/events/src/main/resources/application.properties
  templates/quarkus/events/src/test/java/functions/FunctionTest.java
  templates/quarkus/events/src/test/java/functions/NativeFunctionIT.java
  templates/quarkus/http/README.md
  templates/quarkus/http/pom.xml
  templates/quarkus/http/src/main/java/functions/Function.java
  templates/quarkus/http/src/main/java/functions/Input.java
  templates/quarkus/http/src/main/java/functions/Output.java
  templates/quarkus/http/src/main/resources/application.properties
  templates/quarkus/http/src/test/java/functions/FunctionTest.java
  templates/quarkus/http/src/test/java/functions/NativeFunctionIT.java
Labels: templates/quarkus
