Repository knative/func, pull requests merged in 2021-04, with the labels that each got.

#292 docs: add template reference docs for Python
  docs/guides/python.md
Labels: project/documentation, source/docs

#302 chore: update Node.js faas-js-runtime dependency to 0.6.0
  pkged.go
  templates/node/events/package-lock.json
  templates/node/events/package.json
  templates/node/http/package-lock.json
  templates/node/http/package.json
  templates/node/http/test/integration.js
Labels: templates/node

#299 src: use go 1.14 in the templates
  go.sum
  pkged.go
  templates/go/events/go.mod
  templates/go/http/go.mod
Labels: templates/go

#312 docs: add func.yaml field documentation
  docs/guides/func_yaml.md
Labels: project/documentation

#316 refactor!: change envVars to env in func.yaml
  cmd/deploy.go
  cmd/root.go
  cmd/run.go
  config.go
  docker/runner.go
  function.go
  knative/deployer.go
Labels: project/chore

#314 feat: add support for annotations in func.yaml
  config.go
  function.go
  knative/deployer.go
  pkged.go
Labels: source/lib, type/enhancement
